tr{
    font-size: 15px;
    
}

#tab{
    :hover{
        background-color: bisque;
        font-weight: bold;
    }
    img{
        height: auto;
        width: 150px;
    }
}
 th{
    justify-content: center;
    
}